:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f2f7f5;
  text-decoration: inherit;
}
a:hover {
  color: #001e1d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #faeee7;
}

#header {
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #33272a;
  text-align: center;
}

h2 {
  color: #33272a;
}

h4 {
  color: #33272a;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #ff8ba7;
}
button:hover {
  background-color: #ff8ba7;
}
button:focus,
button:focus-visible {
  outline: 4px auto;
  border-color: 001e1d;
  background-color: #ff8ba7;
}

#loading {
  height: 100vh;
}
